[submodule ".config/i3blocks/i3-blocks-contrib"]
	path = .config/i3blocks/i3-blocks-contrib
	url = https://github.com/acleverpun/i3-blocks-contrib
[submodule ".config/i3blocks/i3blocks-contrib"]
	path = .config/i3blocks/i3blocks-contrib
	url = git@github.com:BlackYoup/i3blocks-contrib.git
